<div id="<%= "asset-#{asset.id}" %>" class="asset-row row d-block d-xl-flex pb-2">
  <div class="col">
    <div class="row align-items-center mb-3 mb-xxl-3 gy-2">
      <div class="col-auto">
        <h5 id="<%= "asset-title-#{asset.id}" %>" class="mb-0">
          <%= link_to asset.display_title, asset_path(asset), class: 'text-wrap-all' %>
        </h5>
      </div>
      <div class="col">
          <%= thumbnail_badge %>
      </div>
    </div>
    <div class="row gy-3 mb-2">
      <div class="col-auto">
        <%= thumbnail %>
      </div>
      <div class="col">
        <dl class="row d-block d-xxl-flex">
          <dt class="col-xxl-3">ID</dt>
          <dd class="col-xxl-9 user-select-all text-wrap-all"><%= asset.id %></dd>
          <dt class="col-xxl-3">Label</dt>
          <dd class="col-xxl-9 user-select-all text-wrap"><%= asset.label || '[None]' %></dd>
          <dt class="col-xxl-3">Size</dt>
          <dd class="col-xxl-9 user-select-all"><%= size || '[None]' %></dd>
          <dt class="col-xxl-3">MIME Type</dt>
          <dd class="col-xxl-9 user-select-all"><%= mime_type || '[None]' %></dd>
          <dt class="col-xxl-3">Annotations</dt>
          <dd class="col-xxl-9">
            <% if annotations.empty? %>
              [None]
            <% else %>
              <% annotations.each do |ano| %>
                <div class="user-select-all"><%= ano %></div>
              <% end %>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="list-group">
      <% if user.can?(:update, @item) %>
        <%= set_as_thumbnail %>
      <% end %>
      <%= access_download_link %>
      <%= preservation_download_link %>
      <%= link_to 'More Details', asset_path(asset), class: 'stretched-link list-group-item list-group-item-action' %>
      <% if user.can?(:update, @asset) %>
        <%= link_to 'Edit Asset', edit_asset_path(asset), class: 'stretched-link list-group-item list-group-item-action' %>
      <% end %>
    </div>
  </div>
</div>
<hr class="my-4">
