<section class="my-4" >
<%= bootstrap_form_tag(url: bulk_imports_path, method: 'get') do |form| %>
  <div class="row align-items-end">
    <div class="col-md-3 col-lg-2o">
      <%= form.text_field 'filter[search]',
                          value: params.dig('filter', 'search'),
                          label: 'Search'
      %>
    </div>
    <div class="col-md-auto">
      <%= form.date_field 'filter[start_date]',
                          value: params.dig('filter', 'start_date'),
                          label: 'Start Date'
      %>
    </div>
    <div class="col-md-auto">
      <%= form.date_field 'filter[end_date]',
                          value: params.dig('filter', 'end_date'),
                          label: 'End Date'
      %>
    </div>
    <div class="col-md-auto">
      <%= form.select 'filter[created_by]',
                      options_from_collection_for_select(@users, 'email', 'email', params.dig('filter', 'created_by')),
                      selected: params.dig('filter', 'created_by'),
                      include_blank: true,
                      label: 'Created By'
      %>
    </div>
    <div class="col-md-auto">
      <%= form.select 'per_page',
                      options_for_select(PerPage::PER_PAGE_OPTIONS,
                                         per_page_from_session(controller_name)),
                      label: 'Per Page'
      %>
    </div>
    <div class="col my-3 d-flex align-items-center">
      <%= form.submit 'Filter', name: nil, class: 'btn btn-primary' %>
      <%= link_to '', bulk_imports_path, name: nil, class: 'btn btn-close btn-sm ms-3' %>
    </div>
  </div>
<% end %>
</section>