<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(href: bulk_imports_path) do %>Imports<% end %>
  <% component.with_breadcrumb(active: true) do %> <%= @bulk_import.id %><% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title { 'Bulk Import' } %>
<% end %>

<div class="row" id="bulk-import-dl">
  <div class="col-6">
    <dl class="row">
      <dt class="col-4 text-end">Original Filename</dt>
      <dd class="col-8">
        <%= @bulk_import.original_filename || '[Unknown]' %>
<%= link_to(csv_bulk_import_path, title: 'Download CSV', class: "mx-2") do %>
  <%= render Icon::Component.new(name: 'download', size: '22px') %>
<% end %>
      </dd>
      <dt class="col-4 text-end">Total Imports</dt>
      <dd class="col-8">
        <div class="flex">
        <%= @bulk_import.imports.count %>
        </div>
      </dd>
      <dt class="col-4 text-end">Total Processing Time</dt>
      <dd class="col-8">
        <% if @bulk_import.state.in? [BulkImport::COMPLETED, BulkImport::COMPLETED_WITH_ERRORS] %>
          <% processing_time = @bulk_import.aggregate_processing_time %>
          <%= processing_time.zero? ? '[Unknown]' : distance_of_time(processing_time) %>
        <% else %>
          [Unknown]
        <% end %>
      </dd>
      <dt class="col-4 text-end">Note</dt>
      <dd class="col-8"><%= @bulk_import.note || '[None]' %></dd>
    </dl>
  </div>
  <div class="col-6">
    <dl class="row">
      <dt class="col-4 text-end">ID</dt>
      <dd class="col-8"><%= @bulk_import.id %></dd>
      <dt class="col-4 text-end">Created By</dt>
      <dd class="col-8"><%= @bulk_import.created_by.email %></dd>
      <dt class="col-4 text-end">Created At</dt>
      <dd class="col-8"><%= @bulk_import.created_at.to_fs(:display) %></dd>
    </dl>
  </div>
</div>

<div class="d-flex justify-content-between">
<h4 class="col-9">Imports</h4>
  <% if can?(:update, @bulk_import) %>
<%= render Form::Component.new(name: 'cancel_all_imports', url: "", method: :get) do |component| %>
  <% component.with_submit('Cancel All Queued Imports',
                           confirm: 'Do you really want to cancel all queued Imports?',
                           class: %w[btn btn-sm btn-secondary text-start])
  %>
    <% end %>
  <% end %>
</div>

<ul class="nav nav-tabs" id="import-states-tabs">
  <li class="nav-item" role="presentation">
    <a class="nav-link <%= @state.nil? ? 'active' : '' %>"
       href="<%= bulk_import_path(@bulk_import) %>">
      All
      <span class="badge">
      <%=@bulk_import.imports.count %>
      </span>
    </a>
  </li>
  <% Import.aasm.states.each do |s| %>
    <li role="presentation" class="nav-item">
      <a
        class="nav-link <%=@state.eql?(s.name.to_s) ? 'active' : ''%><%= @bulk_import.imports.where(state: s.name.to_s).count.zero? ? 'disabled': '' %>"
         href="<%= @bulk_import.imports.where(state: s.name.to_s).count.positive? ?  url_for(import_state: s) : '' %>">
        <%= s.name %>
        <span class="badge text-bg-secondary"><%=@bulk_import.imports.where(state: s.name.to_s).count %></span>
      </a>
    </li>
  <% end %>
</ul>

<div class="table-responsive">
  <table class="table table-striped" id="imports-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>State</th>
      <th>Human Readable Name</th>
      <th>Unique Identifier</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @imports&.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.state.titlecase %></td>
        <td><%="[Placeholder]"%></td>
        <td><%= import.resource_identifier%></td>
        <td>
          <%= link_to 'Details', bulk_import_path(@bulk_import), class: 'btn btn-sm btn-primary' %>
        </td>
        <td>
          <% if can?(:update, import) && import.may_cancel?  %>
            <%= render Form::Component.new(name: 'cancel_import', url: "", method: :get) do |component| %>
              <% component.with_submit('Cancel', confirm: 'Do you really want to cancel this Import?',
                                       class: %w[btn btn-sm btn-secondary])
              %>
            <% end %>
          <% end %>
        </td>
      <tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <%= paginate @imports, param_name: :import_page %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= page_entries_info @imports %>
    </div>
  </div>
</div>
