<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(href: bulk_imports_path) do %>Imports<% end %>
  <% component.with_breadcrumb(active: true) do %> <%= @bulk_import.id %><% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title { 'Bulk Import' } %>
<% end %>


<%= render(SummaryInfo::Component.new(cols: 4, id: 'bulk-import-dl')) do |component| %>

  <% component.with_field('Original Filename', value_classes: 'd-flex align-items-center') do %>
    <%= @bulk_import.original_filename || '[Unknown]' %>
    <%= link_to(csv_bulk_import_path, title: 'Download CSV', class: 'mx-2 lh-1') do %>
      <%= render Icon::Component.new(name: 'download', size: '22px') %>
    <% end %>
  <% end %>

  <% component.with_field(spacer: true) %>

  <% component.with_field('Total Imports') do %>
    <%= @bulk_import.imports.count %>
  <% end %>

  <% component.with_field('Total Processing Time') do %>
    <% if @bulk_import.state.in? [BulkImport::COMPLETED, BulkImport::COMPLETED_WITH_ERRORS] %>
      <% processing_time = @bulk_import.aggregate_processing_time %>
      <%= processing_time.zero? ? '[Unknown]' : distance_of_time(processing_time) %>
    <% else %>
      [Unknown]
    <% end %>
  <% end %>

  <% component.with_field('Note') do %>
    <%= @bulk_import.note || '[None]' %>
  <% end %>

  <% component.with_field('ID') do %>
    <%= @bulk_import.id %>
  <% end %>

  <% component.with_field('Created By') do %>
    <%= @bulk_import.created_by.email %>
  <% end %>

  <% component.with_field('Created At') do %>
    <%= @bulk_import.created_at.to_fs(:display) %>
  <% end %>
<% end %>

<div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-4">
  <h4 class="mb-3 mb-sm-0">Imports</h4>
  <% if @bulk_import.any_imports_queued? &&  can?(:cancel, @bulk_import)  %>
    <%= render Form::Component.new(name: 'cancel_all_imports', url: cancel_bulk_import_path(@bulk_import), method: :patch) do |component| %>
      <% component.with_submit('Cancel All Queued Imports',
                               confirm: 'Do you really want to cancel all queued Imports?',
                               variant: :secondary,
                               class: 'btn-sm')
      %>
    <% end %>
  <% end %>
</div>

<ul class="nav nav-tabs" id="import-states-tabs">
  <li class="nav-item" role="presentation">
    <a class="nav-link <%= @state.nil? ? 'active' : '' %>"
       href="<%= bulk_import_path(@bulk_import) %>">
      All
      <span class="badge">
      <%=@bulk_import.imports.count %>
      </span>
    </a>
  </li>
  <% Import.aasm.states.each do |s| %>
    <li role="presentation" class="nav-item">
      <a
        class="nav-link <%=@state.eql?(s.name.to_s) ? 'active' : ''%><%= @bulk_import.imports.where(state: s.name.to_s).count.zero? ? 'disabled': '' %>"
         href="<%= @bulk_import.imports.where(state: s.name.to_s).count.positive? ?  url_for(import_state: s) : '' %>">
        <%= s.name.to_s.titleize %>
        <span class="badge text-bg-secondary"><%=@bulk_import.imports.where(state: s.name.to_s).count %></span>
      </a>
    </li>
  <% end %>
</ul>

<div class="table-responsive">
  <table class="table table-striped" id="imports-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>State</th>
      <th>Human Readable Name</th>
      <th>Unique Identifier</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @imports&.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.state.titleize %></td>
        <td>
            <%= import.human_readable_name %>
        </td>
        <td>
          <%= import.resource_identifier && import.resource ? link_to(import.resource_identifier, item_path(import.resource))
                                         : '[Unknown]' %>
        <td>
          <%= link_to 'Details', bulk_import_import_path(@bulk_import, import), class: 'btn btn-sm btn-primary' %>
        </td>
        <td>
          <% if import.can_cancel?(current_user)  %>
            <%= render Form::Component.new(name: 'cancel_import', url: cancel_bulk_import_import_path(import.bulk_import, import), method: :patch) do |component| %>
              <% component.with_submit('Cancel', confirm: 'Do you really want to cancel this Import?',
                                       variant: :secondary, class: 'btn-sm')
              %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <%= paginate @imports, param_name: :import_page %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= page_entries_info @imports %>
    </div>
  </div>
</div>
