<div class="row mb-3">
  <label for="<%= @id %>" class="col-sm-2 col-form-label col-form-label-sm"><%= @label %></label>
  <div class="col-sm-10" data-controller="multivalued-input--input-list">
    <% @value.each do |v| %>
      <div data-controller="multivalued-input--input" data-multivalued-input--input-list-target="input">
        <div class="row mb-1" data-multivalued-input--input-target="source">
          <div class="col-sm-10">
              <input type="text" class="form-control form-control-sm" name="<%= @field %>" value="<%= v %>" id="<%= @id %>">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-sm" data-multivalued-input--input-list-target="delete" data-action="multivalued-input--input#removeInput">-</button>
              <button type="button" class="btn btn-success btn-sm" data-action="multivalued-input--input#addInput">+</button>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>