<ul class="nav nav-tabs nav-fill" id="<%= @id %>" role="tablist" data-controller="tabs--tabs">
  <% tabs.each do |tab| %>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= tab.active ? 'active' : '' %>" id="<%= tab.id %>-tab" data-bs-toggle="tab" data-bs-target="#<%= tab.id %>" type="button" role="tab" aria-controls="<%= tab.id %>" aria-selected="<%= tab.active ? 'true' : 'false' %>" data-action="click->tabs--tabs#updateUrl">
        <%= tab.title %> <%= "<span class='badge bg-primary'>#{tab.count}</span>".html_safe if tab.count %>
      </button>
    </li>
  <% end %>
</ul>

<div class="tab-content" id="<%= @id %>Content">
  <% tabs.each do |tab| %>
    <div class="m-3 tab-pane fade <%= tab.active ? 'show active' : '' %>" id="<%= tab.id %>" role="tabpanel" aria-labelledby="<%= tab.id %>-tab">
      <%= tab %>
    </div>
  <% end %>
</div>
