
<div class="mb-3">
  <%= page_entries_info @events, entry_name: 'events' %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Initiated By</th>
        <th scope="col">Completed At</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.event_type.titleize %></td>
          <td><%= event.initiated_by %></td>
          <td><%= event.completed_at.to_fs(:display) %></td>
          <td><%= link_to 'Details', event_path(event.id), class: 'btn btn-sm btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
