<div class="row mb-3">
  <label for="<%= @id %>" class="col-sm-2 col-form-label col-form-label-sm"><%= @label %></label>
  <div class="col-sm-8">
    <input type="text" class="form-control form-control-sm" name="<%= @field %>" value="<%= @value %>" id="<%= @id %>">
  </div>
</div>