<p><%= instructions %></p>

<hr>

<%= form_with url: item_path(item), method: :patch, data: { controller: 'asset-arrange--arrangement' } do %>
  <%= unarranged_section %>
  <hr>
  <%= arranged_section %>
  <div class="mt-2">
    <%= submit %>
    <%= reset %>
  </div>
<% end %>
