<div class="card mb-3" id="<%= arranged? ? "arranged-asset-#{@index}" : "unarranged-asset-#{@index}" %>">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="<%= thumbnail_path %>" class="img-fluid rounded-start" alt="Thumbnail for Asset">
    </div>
    <div class="col-md-9">
      <div class="card-body p-0">
        <div class="row">
          <div class="col p-2">
            <h4><%= card_title %></h4>
            <dl class="row">
              <dt class="col-sm-3">ID</dt>
              <dd class="col-sm-9 user-select-all"><%= asset.id %> </dd>
              <dt class="col-sm-3 ">Size</dt>
              <dd class="col-sm-9 user-select-all"><%= size %> </dd>
              <dt class="col-sm-3">MIME Type</dt>
              <dd class="col-sm-9 user-select-all"><%= mime_type %></dd>
              <dt class="col-sm-3">Annotations</dt>
              <% annotations.each do |ano| %>
                <dd class="col-sm-9 user-select-all"><%= ano.text %></dd>
              <% end %>
            </dl>
          </div>
          <div class="col-4 text-end h-100">
            <ul class="list-group list-group-flush border-start border-bottom">
              <li class="list-group-item"><%= access_download_link %></li>
              <li class="list-group-item"><%= preservation_download_link %></li>
              <li class="list-group-item"><%= link_to 'More Details', '', class: 'stretched-link' %></li>
              <li class="list-group-item"><%= link_to 'Edit Asset', '', class: 'stretched-link' %></li>
              <li class="list-group-item"><%= link_to 'Set as Item Thumbnail', '', class: 'stretched-link' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
