<%= bootstrap_form_tag(url: url, method: :get, id: 'item-search-form') do |form| %>
  <div class="row g-2">
    <div class="col-md-6">
      <%= form.text_field 'search[all]',
                          value: params.dig(:search, :all), label: t('items.search.options.keyword') %>
    </div>
    <div class="col-md-1">
      <%= form.select :rows, rows_options,
                      label: t('items.search.options.rows') %>
    </div>
    <div class="col-md-2">
      <%= form.select 'sort[field]', sort_fields_options,
                      label: t('items.search.options.sort.field') %>
    </div>
    <div class="col-md-2">
      <%= form.select 'sort[direction]', sort_directions_options,
                      label: t('items.search.options.sort.direction') %>
    </div>
    <div class="col-md-1">
      <%= form.select 'filter[published]', published_options,
                      label: t('items.search.options.published'), include_blank: true %>
    </div>
    <div class="col-md-4">
      <%= form.select 'filter[collection]', collections_options,
                      label: t('items.search.options.collection'), include_blank: true %>
    </div>
    <div class="col-md-4">
        <%= form.select 'filter[created_by]', created_by_options,
                        label: t('items.search.options.created_by'), include_blank: true %>
    </div>
    <div class="col-md-4">
      <%= form.select 'filter[updated_by]', updated_by_options,
                      label: t('items.search.options.updated_by'), include_blank: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div id="fielded-search-area" class="col-md-12" data-controller="item-search--field-search">
          <% fielded_search_params.each do |field|  %>
            <div class="row g-1 mt-2 field-search-set" data-item-search--field-search-target="row">
              <div class="col-md-2">
                <%= form.select 'search[fielded][][field]', search_fields_options(selected: field[:field]),
                                label: t('items.search.options.field') %>
              </div>
              <div class="col-md-7">
                <%= form.text_field 'search[fielded][][term]',
                                    value: field[:term], label: t('items.search.options.term') %>
              </div>
              <div class="col-md-2">
                <%= form.select 'search[fielded][][opr]', operator_options(selected: field[:opr]),
                                label: t('items.search.options.operator') %>
              </div>
              <div class="col-md-1">
                <br class="mb-2">
                <button type="button" class="btn btn-danger" data-action="item-search--field-search#removeInputSet">-</button>
                <button type="button" class="btn btn-success" data-action="item-search--field-search#addInputSet">+</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-group-vertical d-block mt-2">
        <%= form.submit t('items.search.actions.submit'), class: 'btn btn-primary' %>
        <%= link_to t('items.search.actions.reset'), items_path, class: 'btn btn-secondary' %>
        <%= link_to t('items.search.actions.export'), new_bulk_export_path(search_params: search_params.except('rows')),
                    class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>
