<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: '/') do %>Home<% end %>
  <% component.with_breadcrumb(href: bulk_imports_path) do %>Bulk Imports<% end %>
  <% component.with_breadcrumb(href: bulk_import_path(@import.bulk_import)) do %><%= @import.bulk_import.id %><% end %>
  <% component.with_breadcrumb do %>Import<% end %>
  <% component.with_breadcrumb(active: true, href: bulk_import_import_path(@import.bulk_import, @import)) do %>
    <%= @import.id %>
  <% end %>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <h2>Import</h2>
  <% if @import.can_cancel?(current_user) %>
    <%= render Form::Component.new(name: 'cancel_import',
                                   url: cancel_bulk_import_import_path(@import.bulk_import, @import),
                                   method: :patch) do |component| %>
      <% component.with_submit('Cancel', confirm: I18n.t('actions.import.cancel.confirm_message'),
                                         variant: :secondary, class: 'btn-sm') %>
    <% end %>
  <% end %>
</div>

<%= render(SummaryInfo::Component.new) do |component| %>

  <% component.with_field('State') do %>
    <%= @import.state.titlecase %>
  <% end %>

  <% component.with_field('Processing Time') do %>
    <%= @import.duration ? distance_of_time(@import.duration) : '[Unknown]' %>
  <% end %>

  <% component.with_field('Unique Identifier') do %>
      <%= @import.resource.present? ? link_to(@import.resource.unique_identifier, item_path(@import.resource)) : '[Unknown]' %>
  <% end %>

  <% component.with_field('ID') do %>
    <%= @import.id %>
  <% end %>

  <% component.with_field('Created At') do %>
    <%= @import.created_at.to_fs(:display) %>
  <% end %>

  <% component.with_field('Updated At') do %>
    <%= @import.updated_at.to_fs(:display) %>
  <% end %>
<% end %>

<% unless @import.process_errors.blank? %>
  <h4>Errors</h4>
  <div class="card text-bg-warning border-light bg-opacity-25 mb-3">
    <div class="card-body">
      <div class="formatted-text"><%= @import.process_errors.join("\n") %></div>
    </div>
  </div>
<% end %>

<h4>Import Data</h4>
<pre class="bg-light"><%= JSON.pretty_generate(@import.import_data) %></pre>
