
<div>
  <%= error %>

  <%= form_tag(@url, method: @method) do %>
    <%= hidden_field_tag :form, @name %>

    <% inputs.each do |input| %>
      <%= input %>
    <% end %>

    <%= submit %>
  <% end %>
</div>
