<section class="my-4" >

    <%= bootstrap_form_tag(url: users_path, method: :get) do |f| %>

      <div class="row align-items-end">
        <div class="col-md-3 col-lg-2">
          <%= f.text_field :users_search,
                           value: params[:users_search],
                           label: 'Search'
          %>
        </div>

        <div class="col-md-auto">
          <%= f.select :active_filter,
                       options_for_select([['Active', 1], ['Inactive', 0]], selected: params[:active_filter]),
                       include_blank: true,
                       label: 'Status'
          %>
        </div>

        <div class="col-md-auto">
          <%= f.select :roles_filter,
                       options_for_select(User::ROLES.map(&:titleize), selected: params[:roles_filter]),
                       include_blank: true,
                       label: 'Role'
          %>
        </div>

        <div class="col-md-auto">
          <%= f.select 'per_page',
                       options_for_select(PerPage::PER_PAGE_OPTIONS,
                                          per_page_from_session(controller_name)),
                       label: 'Per Page'
          %>
        </div>

        <div class="col my-3 d-flex align-items-center">
          <%= f.submit 'Filter',
                       name: 'filter',
                       class: 'btn btn-primary users-filter-submit'
          %>

          <%= link_to '',
                      users_path,
                      class: 'btn btn-close btn-sm ms-3',
                      label: 'Reset',
                      hide_label: true
          %>
        </div>
      </div>
    <% end %>

</section>
