<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(active: true) do %>Users<% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title { 'Users' } %>
  <%= header.with_link(href: new_user_path) { 'New User' } %>
<% end %>

<%= render 'filters' %>

<div class="mb-3">
  <%= page_entries_info @users, entry_name: 'user' %>
</div>

<% unless @users.empty? %>
  <table class="table users-list">
    <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Roles</th>
      <th scope="col">Active?</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="users-list__user">
          <td><%= link_to user.email, user_path(user) %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.roles.join(', ') %></td>
          <td><%= user.active ? 'yes' : 'no' %></td>
          <td><%= user.created_at.to_fs(:display) %></td>
          <td><%= user.updated_at.to_fs(:display) %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-outline-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% end %>
