<div class="modal fade" id="<%= @id %>" tabindex="-1" data-controller="modal--modal">
  <div class="modal-dialog <%= @modal_classes.join(' ') %>">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title me-2"><%= @title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-modal--modal-target="body">
        <%= content %>
      </div>
    </div>
  </div>
</div>

<%= button_tag @title, type: 'button', class: @button_classes, data: { 'bs-toggle': 'modal', 'bs-target': "##{@id}" } %>
