<div id="<%= "asset-#{asset.id}" %>" class="row pb-2">
  <div class="col">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="d-inline"><%= asset.display_title %></h5><%= thumbnail_badge %>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <%= thumbnail %>
      </div>
      <div class="col">
        <dl class="row">
          <dt class="col-sm-4">ID</dt>
          <dd class="col-sm-8 user-select-all"><%= asset.id %></dd>
          <dt class="col-sm-4">Label</dt>
          <dd class="col-sm-8 user-select-all"><%= asset.label || '[None]' %></dd>
          <dt class="col-sm-4 ">Size</dt>
          <dd class="col-sm-8 user-select-all"><%= size || '[None]' %></dd>
          <dt class="col-sm-4">MIME Type</dt>
          <dd class="col-sm-8 user-select-all"><%= mime_type || '[None]' %></dd>
          <dt class="col-sm-4">Annotations</dt>
          <dd class="col-sm-8">
            <% if annotations.empty? %>
              [None]
            <% else %>
              <% annotations.each do |ano| %>
                <div class="user-select-all"><%= ano %></div>
              <% end %>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <ul class="list-group text-end">
      <% if ability.can?(:update, @item) %>
        <li class="list-group-item list-group-item-action"><%= set_as_thumbnail %></li>
      <% end %>
      <li class="list-group-item list-group-item-action"><%= access_download_link %></li>
      <li class="list-group-item list-group-item-action"><%= preservation_download_link %></li>
      <li class="list-group-item list-group-item-action"><%= link_to 'More Details', asset_path(asset), class: 'stretched-link' %></li>
      <% if ability.can?(:update, @asset) %>
        <li class="list-group-item list-group-item-action"><%= link_to 'Edit Asset', edit_asset_path(asset), class: 'stretched-link' %></li>
      <% end %>
    </ul>
  </div>
</div>
<hr>
