<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Apotheca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if controller_name == 'items' %>" href="<%= items_path %>">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if controller_name == 'bulk_imports' %>" href="<%= bulk_imports_path %>">Imports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if controller_name == 'bulk_exports' %>" href="<%= bulk_exports_path %>">Exports</a>
        </li>
        <% if can? :manage, User %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if controller_name == 'users' %>" href="<%= users_path %>">Users</a>
          </li>
        <% end %>
        <% if can? :manage, AlertMessage %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?(alert_messages_path) %>" href="<%= alert_messages_path %>">Alerts</a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= current_user_presenter.full_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= button_to "Sign Out", destroy_user_session_path, class: 'dropdown-item' %> </li>
            </ul>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
