<div id="assets-list-container"
     class="row d-flex <%= use_spy? ? 'spy' : 'no-spy' %>"
     data-controller="assets-list--spy assets-list--scroll">
  <div id="assets-cards"
       class="col h-100 pe-xl-4 position-relative"
       data-assets-list--spy-target="spiedElement"
       data-assets-list--scroll-target="mainContent"
       data-action="resize@window->assets-list--spy#refreshScrollSpy">
    <%= arranged_cards_section %>
    <%= unarranged_cards_section %>
  </div>
  <div id="assets-sidebar"
       aria-labelledby="assets-sidebar-label"
       class="col-auto border-start h-100 pt-3 overflow-auto offcanvas-lg offcanvas-end"
       data-bs-scroll="true"
       data-bs-backdrop="true"
       data-bs-smooth-scroll="true"
       data-assets-list--spy-target="oncanvasNavScroller"
       data-assets-list--scroll-target="sidebar">
    <div class="offcanvas-header" data-assets-list--spy-target="offcanvasHeader">
      <h5 id="assets-sidebar-label" class="offcanvas-title">
        Assets
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        data-bs-target="#assets-sidebar"
        aria-label="Close">
      </button>
    </div>
    <div class="flex-column align-items-stretch pe-4 offcanvas-body"
         data-assets-list--spy-target="offcanvasNavScroller">
      <nav id="assets-nav"
           data-assets-list--spy-target="spy"
           class="nav nav-pills flex-column position-relative">
        <%= arranged_nav_section %>
        <%= unarranged_nav_section %>
      </nav>
    </div>
  </div>
</div>
