<h2>File Listing Tool</h2>

<p>
  List the filenames of all the files in the given directory.
  The filenames will be listed in alphabetical order.
</p>

<div data-controller="file-lister--file-lister">

  <%= bootstrap_form_tag url: file_listing_tool_file_list_path(format: :json), layout: :horizontal, html: { id: 'new-file-listing' } do |f| %>
    <%= f.select :drive, options_for_select(ImportService::S3Storage.all.keys), { control_col: "col-sm-4", include_blank: true }, data: { "file-lister--file-lister-target": "driveSelect" } %>
    <%= f.text_field :path, control_col: 'col-sm-4', data: { "file-lister--file-lister-target": "pathInput" } %>
    <%= f.form_group do %>
      <%= f.submit 'List Filenames', class: 'btn btn-primary', data: { "action": "click->file-lister--file-lister#submit" } %>
    <% end %>
  <% end %>

  <hr/>

  <div data-file-lister--file-lister-target="errorMessage"></div>

  <div id="file-listing" data-file-lister--file-lister-target="fileListingForm" hidden>
    <h4>Extracted Filenames</h4>
    <%= bootstrap_form_tag url: file_listing_tool_file_list_path(format: :csv), layout: :horizontal do |f| %>
      <%= f.text_field :drive, control_col: 'col-sm-4', data: {"file-lister--file-lister-target": "driveResponse"} %>
      <%= f.text_field :path, control_col: 'col-sm-4', data: {"file-lister--file-lister-target": "pathResponse"} %>
      <%= f.text_area :filenames, readonly: true, data: {"file-lister--file-lister-target": "filenameList"} %>
      <%= f.form_group do %>
        <button type="button" class="btn btn-primary" id="copy-button" data-action="click->file-lister--file-lister#copy">Copy Filenames</button>
        <%= f.submit 'Export Structural Metadata CSV', class: 'btn btn-info' %>
      <% end %>
    <% end %>
  </div>

</div>


