<%= bootstrap_form_tag(url: url, method: :get, id: 'item-search-form') do |form| %>
  <div class="row g-2">
    <div class="col-md-6">
      <%= form.text_field 'search[all]', value: params.dig(:search, :all), label: 'Search' %>
    </div>
    <div class="col-md-1">
      <%= form.select :rows, rows_options, label: 'Rows' %>
    </div>
    <div class="col-md-2">
      <%= form.select 'sort[field]', sort_fields_options, label: 'Sort By' %>
    </div>
    <div class="col-md-2">
      <%= form.select 'sort[direction]', sort_directions_options, label: 'Direction' %>
    </div>
    <div class="col-md-1">
      <%= form.select 'filter[published]', published_options, include_blank: true, label: 'Published?' %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <%= form.select 'filter[created_by]', created_by_options, include_blank: true, label: 'Created By' %>
        </div>
        <div class="col-md-12">
          <%= form.select 'filter[updated_by]', updated_by_options, include_blank: true, label: 'Updated By' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <%= form.select 'filter[collection]', collections_options, { label: 'Collection' }, { multiple: true, include_blank: true, size: 6 } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div id="fielded-search-area" class="col-md-12" data-controller="item-search--field-search">
          <% fielded_search_params.each do |field|  %>
            <div class="row g-1 mt-2 field-search-set" data-item-search--field-search-target="row">
              <div class="col-md-2">
                <%= form.select 'search[fielded][][field]', search_fields_options(selected: field[:field]), label: 'Field' %>
              </div>
              <div class="col-md-7">
                <%= form.text_field 'search[fielded][][term]', value: field[:term], label: 'Term' %>
              </div>
              <div class="col-md-2">
                <%= form.select 'search[fielded][][opr]', operator_options(selected: field[:opr]), label: 'Operator' %>
              </div>
              <div class="col-md-1">
                <br class="mb-2">
                <button type="button" class="btn btn-danger" data-action="item-search--field-search#removeInputSet">-</button>
                <button type="button" class="btn btn-success" data-action="item-search--field-search#addInputSet">+</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-group-vertical d-block mt-2">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to 'Start Over', items_path, class: 'btn btn-secondary' %>
        <%= link_to 'Export as CSV', new_bulk_export_path(search_params: search_params), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>

<%# TODO: remove eventually...but I think this is worth keeping while we are still in development %>
<% if query.present? %>
  <div class="card mt-2 font-monospace bg-info bg-opacity-25 p-2"><%= query %></div>
<% end %>
