<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") { 'Home' } %>
  <% component.with_breadcrumb(href: items_path) { 'Items' } %>
  <% component.with_breadcrumb(href: item_path(@item, anchor: 'assets')) { @item.human_readable_name } %>
  <% component.with_breadcrumb { 'Assets' } %>
  <% component.with_breadcrumb(active: true) { @asset.display_title } %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title(tag: :h2) { 'Asset: ' + @asset.display_title } %>
  <%= header.with_link(href: edit_asset_path(@asset)) { 'Edit Asset' } if can? :update, @asset%>
<% end %>

<div class="align-self-center mb-2">
  <%= render(StatusBadge::Component.new(test: @asset.preservation_copies_ids.any?, truthy: 'Backed Up', falsey: 'Pending Backup')) %>
  <%= render(StatusBadge::Component.new(test: @asset.thumbnail, truthy: 'Thumbnail', falsey: 'No Thumbnail')) %>
  <%= render(StatusBadge::Component.new(test: @asset.access, truthy: 'Access Copy', falsey: 'No Access Copy')) %>
</div>

<div class="d-flex">
  <div class="flex-shrink-0 my-2">
    <% if @asset.thumbnail %>
      <%= image_tag file_asset_path(@asset, type: :thumbnail), class: 'img-thumbnail' %>
    <% else %>
      <%= render partial: 'resources/no_thumbnail' %>
    <% end %>
  </div>
  <div class="flex-grow-1 ms-3 mt-3">
    <%= render(StaticFields::Component.new) do |component| %>
      <% component.with_field(label: 'Label', values: @asset.label) %>
      <% component.with_field(label: 'Annotations', values: @asset.annotations.map(&:text)) %>
      <% component.with_field(label: 'Original Filename', values: @asset.original_filename, classes: ['user-select-all']) %>
      <% component.with_field(label: 'Size', values: number_to_human_size(@asset.technical_metadata.size, classes: ['user-select-all'])) %>
    <% end %>
  </div>
</div>

<%= render(Tabs::Component.new(id: 'asset-tabs')) do |component| %>
  <% component.with_tab(title: 'Modification Details', active: true) do %>
      <%= render partial: 'modification_details' %>
  <% end  %>

  <% component.with_tab(title: 'Preservation File') do %>
    <%= render partial: 'preservation_file' %>
  <% end %>

  <% component.with_tab(title: 'Derivatives', count: @asset.derivatives.count, disabled: @asset.derivatives.empty?) do %>
    <%= render partial: 'derivatives' %>
  <% end %>

  <% component.with_tab(title: 'Transcriptions', count: @asset.transcriptions.count, disabled: @asset.transcriptions.empty?) do %>
    <%= render partial: 'transcriptions' %>
  <% end  %>

  <% component.with_tab(title: 'Events') do %>
    <%= render partial: 'resources/last_10_events', locals: { resource: @asset } %>
  <% end %>

  <% if can? :update, AssetResource %>
    <% component.with_tab(title: 'Actions') do %>
      <%= render partial: 'actions' %>
    <% end %>
  <% end %>
<% end %>