<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") { 'Home' } %>
  <% component.with_breadcrumb(href: items_path) { 'Items' } %>
  <% component.with_breadcrumb(href: item_path(@item, anchor: 'assets')) { @item.human_readable_name } %>
  <% component.with_breadcrumb { 'Assets' } %>
  <% component.with_breadcrumb(active: true) { @asset.display_title } %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title(tag: :h2) { 'Asset: ' + @asset.display_title } %>
  <%= header.with_right_link(href: edit_asset_path(@asset)) { 'Edit Asset' } if can? :update, @asset%>
<% end %>

<div class="align-self-center mb-2">
  <%= render(StatusBadge::Component.new(test: @asset.preservation_copies_ids.any?, truthy: 'Backed up to Cloud Storage', falsey: 'Not in Cloud Storage')) %>
  <%= render(StatusBadge::Component.new(test: @asset.thumbnail, truthy: 'Thumbnail', falsey: 'No Thumbnail')) %>
  <%= render(StatusBadge::Component.new(test: @asset.access, truthy: 'Access Copy', falsey: 'No Access Copy')) %>
</div>

<div class="d-flex">
  <div class="flex-shrink-0 my-2">
    <% if @asset.thumbnail %>
      <%= image_tag file_asset_path(@asset, type: :thumbnail), class: 'img-thumbnail' %>
    <% else %>
      <%= render partial: 'shared/no_thumbnail' %>
    <% end %>
  </div>
  <div class="flex-grow-1 ms-3 mt-3">
    <%= render(StaticFields::Component.new) do |component| %>
      <% component.with_field(label: 'ID', values: @asset.id, classes: %w[user-select-all font-monospace]) %>
      <% component.with_field(label: 'Label', values: @asset.label) %>
      <% component.with_field(label: 'Annotations', values: @asset.annotations.map(&:text)) %>
    <% end %>
  </div>
</div>

<h3 id="transcriptions" class="mb-3">Transcription</h3>

<% if @asset.transcriptions.any? %>
  <%= render(StaticFields::Component.new(class: ['mx-2'])) do |component| %>
    <% component.with_field(label: 'Mime Type', values: @asset.transcriptions.first.mime_type) %>
    <% component.with_field(label: 'Contents', values: @asset.transcriptions.first.contents, classes: ['formatted-text'])  %>
  <% end %>
<% else %>
  <p>No transcription to display</p>
<% end %>

<h3 id="preservation-file" class="mb-3">Preservation File</h3>

<%= render(StaticFields::Component.new(class: ['mx-2'])) do |component| %>
  <% component.with_field(label: 'Original Filename', values: @asset.original_filename, classes: ['user-select-all']) %>
  <% component.with_field(label: 'File', values: @asset.preservation_file_id)  %>
<% end %>


<h3 id="technical-metadata" class="mb-3">Technical Metadata</h3>

<%= render(StaticFields::Component.new(class: ['mx-2'])) do |component| %>
  <% component.with_field(label: 'MIME Type', values: @asset.technical_metadata.mime_type, classes: ['user-select-all']) %>
  <% component.with_field(label: 'Size', values: number_to_human_size(@asset.technical_metadata.size, classes: ['user-select-all'])) %>
  <% component.with_field(label: 'Duration', values: @asset.technical_metadata.duration) %>
  <% component.with_field(label: 'MD5 Checksum', values: @asset.technical_metadata.md5, classes: %w[user-select-all font-monospace]) %>
  <% component.with_field(label: 'SHA256 Checksum', values: @asset.technical_metadata.sha256, classes: %w[user-select-all font-monospace]) %>
<% end %>

<h3 id="derivatives" class="mb-3">Derivatives</h3>

<div class="m-3">
  <% @asset.derivatives.each do |derivative| %>
    <h4><%= derivative.type.titlecase %></h4>
    <%= render(StaticFields::Component.new(class: ['mx-2'])) do |component| %>
      <% component.with_field(label: 'File', values: derivative.file_id) %>
      <% component.with_field(label: 'MIME Type', values: derivative.mime_type, classes: ['user-select-all']) %>
      <% component.with_field(label: 'Generated At', values: derivative.generated_at&.to_s(:display)) %>
    <% end %>
  <% end %>
</div>

<h3 id="modification-details" class="mb-3">Modification Details</h3>

<%= render(StaticFields::Component.new(class: ['mx-2'])) do |component| %>
  <% component.with_field(label: 'Date Created', values: @asset.date_created&.to_s(:display)) %>
  <% component.with_field(label: 'Created By', values: @asset.created_by) %>
  <% component.with_field(label: 'Date Updated', values: @asset.date_updated&.to_s(:display)) %>
  <% component.with_field(label: 'Updated By', values: @asset.updated_by) %>
<% end %>

<% if can? :delete, @asset  %>
  <%= render Form::Component.new(name: 'delete_asset', url: asset_path(@asset), method: :delete) do |component| %>
    <% component.with_error(@error) %>
    <% component.with_submit('Delete Asset', confirm: 'Do you really want to delete this asset?', class: %w[btn btn-danger]) %>
  <% end %>
<% end %>
