<div class="row">
  <div class="col-10">
    <div id="assets-cards" data-bs-spy="scroll" data-bs-target="#asset-list" data-bs-offset="0" tabindex="0"><%# TODO: scrollspy is not working properly - perhaps due to this element not being position: relative? %>
      <h4>Assets (arranged)</h4>
      <% if @arranged_assets&.any? %>
        <% @arranged_assets.each_with_index do |asset, i| %>
          <%= render(AssetCard::Component.new(asset: asset, arranged: true, index: i)) %>
        <% end %>
      <% else %>
        <p>No arranged assets</p>
      <% end %>
      <h4>Assets (unarranged)</h4>
      <% if @unarranged_assets&.any? %>
        <% @unarranged_assets.each_with_index do |asset, i| %>
          <%= render(AssetCard::Component.new(asset: asset, arranged: false, index: i)) %>
        <% end %>
      <% else %>
        <p>No unarranged assets</p>
      <% end %>
    </div>
  </div>
  <div class="col-2 sticky-top">
    <div id="asset-list list-group">
      <a href="#" class="list-group-item disabled" tabindex="-1" aria-disabled="true">Arranged</a>
      <% @arranged_assets.each do |a| %>
        <a class="list-group-item list-group-item-action" href="#<%= "asset-card-#{a.id}" %>"><%= a.original_filename %></a>
      <% end %>
      <a href="#" class="list-group-item disabled" tabindex="-1" aria-disabled="true">Unarranged</a>
      <% @unarranged_assets.each do |a| %>
        <a class="list-group-item list-group-item-action" href="#<%= "asset-card-#{a.id}" %>"><%= a.original_filename %></a>
    <% end %>
    </div>
  </div>
</div>
