<%= render(Header::Component.new) do |header| %>
  <%= header.with_title(tag: :h3) { 'Descriptive Metadata' } %>
  <%= header.with_link(href: edit_item_path(@item, anchor: 'descriptive-metadata')) { 'Edit' } if can? :update, @item %>
<% end %>

<div class="table-responsive">
  <table class="table">

    <thead>
      <tr>
        <th scope='col' class='col'>
          Field
        </th>

        <% if @item.descriptive_metadata.ils_metadata %>
          <th scope='col' class='col-5'>
            From ILS
          </th>
        <% end %>

        <th scope='col' class="<%= @item.descriptive_metadata.ils_metadata ? 'col-5' : 'col-10' %>">
          From Resource
        </th>
      </tr>
    </thead>

    <tbody>
      <% ItemResource::DescriptiveMetadata::Fields.all.each do |f| %>
        <% if @item.descriptive_metadata.field_row_data?(f) %>
          <tr>
            <%# Field name %>
            <th scope='row'><%= f.to_s.titleize %></th>

            <%# ILS values %>
            <% if @item.descriptive_metadata.ils_metadata %>
              <td class="<%= @item.descriptive_metadata.field_ils_class(f) %>">
                <%= @item.descriptive_metadata.field_values('ils', f) %>
              </td>
            <% end %>

            <%# Resource values %>
            <td class="<%= @item.descriptive_metadata.field_resource_class(f) %>">
              <%= @item.descriptive_metadata.field_values('resource', f) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>
