<div class="row">
  <div class="col">
    <dl>
      <dt>Unique Identifier</dt>
      <dd><%= @item.alternate_ids.first %></dd>
      <dt>Description</dt>
      <dd><%= @item.description %></dd>
      <dt>Number of Assets</dt>
      <dd><%= @assets.count %></dd>
    </dl>
  </div>
  <div class="col-3">
    <dl>
      <dt>Created By</dt>
      <dd><%# @item.created_by&.email %></dd>
      <dt>Created At</dt>
      <dd><%= @item.created_at&.to_s(:display) %></dd>
    </dl>
  </div>
  <div class="col-3">
    <dl>
      <dt>Updated By</dt>
      <dd><%# @item.updated_by&.email %></dd>
      <dt>Updated At</dt>
      <dd><%= @item.updated_at&.to_s(:display) %></dd>
    </dl>
  </div>
</div>
