<div class="row">
  <div class="col">
    <dl>
      <dt>Unique Identifier</dt>
      <dd><%= @item.unique_identifier %></dd>
      <dt>Number of Assets</dt>
      <dd><%= @arranged_assets.count + @unarranged_assets.count %></dd>
    </dl>
  </div>
  <div class="col-3">
    <dl>
      <dt>Created By</dt>
      <dd><%= @item.created_by %></dd>
      <dt>Created At</dt>
      <dd><%= @item.date_created&.to_s(:display) %></dd>
    </dl>
  </div>
  <div class="col-3">
    <dl>
      <dt>Updated By</dt>
      <dd><%= @item.updated_by %></dd>
      <dt>Updated At</dt>
      <dd><%= @item.date_updated&.to_s(:display) %></dd>
    </dl>
  </div>
</div>
