<%= render(BreadcrumbsComponent.new) do |component| %>
  <% component.breadcrumb(href: "/")      { 'Home' } %>
  <% component.breadcrumb(href: "/items") { 'Items' } %>
  <% component.breadcrumb(active: true)   { @item.human_readable_name } %>
<% end %>

<h2><%= @item.human_readable_name %></h2>

<%= render Tabs::Component.new(id: 'item-tabs') do |component| %>
  <% component.tab(title: 'Descriptive Metadata', active: true) do %>
    <%= render partial: 'descriptive_metadata_form' %>
    <p><%= @item.descriptive_metadata.as_json %></p>
  <% end %>

  <% component.tab(title: 'Structural Metadata') do %>
    <%= render partial: 'structural_metadata_form' %>
  <% end %>

  <% component.tab(title: 'Assets') do  %>
    <h4>Assets (unarranged)</h4>
     <% if @assets.any? %>
       <ul>
         <% @assets.each do |asset| %>
           <li><%= asset.as_json %></li>
          <% end %>
          </ul>
    <% else %>
     <p>No assets</p>
    <% end %>
  <% end %>
<% end %>

<!--<ul class="nav nav-tabs nav-fill" id="item-tabs" role="tablist">-->
<!--  <li class="nav-item" role="presentation">-->
<!--    <button class="nav-link active" id="descriptive-metadata-tab" data-bs-toggle="tab" data-bs-target="#descriptive-metadata" type="button" role="tab" aria-controls="descriptive-metadata" aria-selected="true">-->
<!--      Descriptive Metadata-->
<!--    </button>-->
<!--  </li>-->
<!--  <li class="nav-item" role="presentation">-->
<!--    <button class="nav-link" id="structural-metadata-tab" data-bs-toggle="tab" data-bs-target="#structural-metadata" type="button" role="tab" aria-controls="structural-metadata" aria-selected="false">-->
<!--      Structural Metadata-->
<!--    </button>-->
<!--  </li>-->
<!--  <li class="nav-item" role="presentation">-->
<!--    <button class="nav-link" id="assets-tab" data-bs-toggle="tab" data-bs-target="#assets" type="button" role="tab" aria-controls="assets" aria-selected="false">-->
<!--      Assets-->
<!--    </button>-->
<!--  </li>-->
<!--</ul>-->

<!--<div class="tab-content" id="item-tabContent">-->
<!--  <div class="tab-pane fade show active" id="descriptive-metadata" role="tabpanel" aria-labelledby="descriptive-metadata-tab">-->
    <%#= render partial: 'descriptive_metadata_form' %>
<!--    <p><%#= @item.descriptive_metadata.as_json %></p>-->
<!--  </div>-->
<!--  <div class="tab-pane fade" id="structural-metadata" role="tabpanel" aria-labelledby="structural-metadata-tab">-->
<!--    <h4>Structural Metadata</h4>-->
<!--    <p><%#= @item.structural_metadata.as_json %></p>-->
<!--  </div>-->
<!--  <div class="tab-pane fade" id="assets" role="tabpanel" aria-labelledby="assets-tab">-->
<!--    <h4>Assets (unarranged)</h4>-->
    <%# if @assets.any? %>
<!--      <ul>-->
        <%# @assets.each do |asset| %>
<!--          <li><%#= asset.as_json %></li>-->
        <%# end %>
<!--      </ul>-->
    <%# else %>
<!--      <p>No assets</p>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->

