<%= render(BreadcrumbsComponent.new) do |component| %>
  <% component.breadcrumb(href: "/")      { 'Home' } %>
  <% component.breadcrumb(href: "/items") { 'Items' } %>
  <% component.breadcrumb(active: true)   { @item.human_readable_name } %>
<% end %>

<h2><%= @item.human_readable_name %></h2>

<%= render Tabs::Component.new(id: 'item-tabs') do |component| %>
  <% component.tab(title: 'Descriptive Metadata', active: true) do %>
    <%= render partial: 'descriptive_metadata_form' %>
    <p><%= @item.descriptive_metadata.as_json %></p>
  <% end %>

  <% component.tab(title: 'Structural Metadata') do %>
    <%= render partial: 'structural_metadata_form' %>
  <% end %>

  <% component.tab(title: 'Assets') do  %>
    <h4>Assets (unarranged)</h4>
     <% if @assets.any? %>
       <ul>
         <% @assets.each do |asset| %>
           <li><%= asset.as_json %></li>
          <% end %>
          </ul>
    <% else %>
     <p>No assets</p>
    <% end %>
  <% end %>
<% end %>
