<%= render(BreadcrumbsComponent.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(active: true) do %>Items<% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title { 'Items' } %>
  <%= header.with_right_link(href: new_item_path) { 'Create Item' } %>
<% end %>

<%= bootstrap_form_tag(url: items_path, method: :get) do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], label: 'Search' %>
  <%= f.select :sort_field, options_for_select([%w[Relevance score], %w[ID id], %w[Title title_tsi]], params[:sort_field]), label: 'Sort By' %>
  <%= f.select :sort_direction, options_for_select([ %w[Descending desc], %w[Ascending asc]], params[:sort_direction]), label: 'Sort Direction' %>
  <%= f.select :rows, options_for_select([50,100,250,500], params[:rows]), label: 'Rows' %>
  <%= f.select 'filters[:published_bsi]', options_for_select([['Yes', true], ['No', false]], params.dig(:filter, :published_bsi)), include_blank: false, label: 'Published?' %>
  <%= f.select 'filters[:created_by_ssi]', options_for_select(@facets.fetch(:created_by_ssi, [])), include_blank: true, label: 'Created By' %>
  <%= f.select 'filters[:updated_by_ssi]', options_for_select(@facets.fetch(:updated_by_ssi, [])), include_blank: true, label: 'Updated By' %>
  <%= f.select 'filters[collection_ssim]', options_for_select(@facets.fetch(:collection_ssim, []), (params[:filters] ? params[:filters][:collection_ssim] : '')),
               include_blank: true, label: 'Collection'  %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<hr>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Alt. ID</th>
      <th></th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to item.descriptive_metadata.title.first, item_path(item.id) %></td>
    <td><%= item.unique_identifier %></td>
    <td><%= link_to 'Edit', edit_item_path(item.id), class: 'btn btn-primary' %></td>
  <% end %>
</table>
