<%= render(BreadcrumbsComponent.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(active: true) do %>Items<% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <%= header.with_title { 'Items' } %>
  <%= header.with_right_link(href: new_item_path) { 'Create Item' } %>
<% end %>

<!-- TODO: view component -->
<%= bootstrap_form_tag(url: items_path, method: :get) do |f| %>
  <%= f.text_field 'search[all]', value: params.dig(:search, :all), label: 'Search' %>
  <%= f.select 'sort[field]', options_for_select(Solr::QueryMaps::Item::Sort.field_map, params[:sort_field]), label: 'Sort By' %>
  <%= f.select 'sort[direction]', options_for_select([ %w[Descending desc], %w[Ascending asc]], params[:sort_direction]), label: 'Sort Direction' %>
  <%= f.select :rows, options_for_select([50,100,250,500], params[:rows]), label: 'Rows' %>
  <%= f.select 'filter[published]', options_for_select([['Yes', true], ['No', false]], params.dig(:filter, :published)), include_blank: false, label: 'Published?' %>
  <%= f.select 'filter[created_by]', options_for_select(@facets.fetch(Solr::QueryMaps::Item::Filter.created_by.to_s, []), params.dig(:filter, :created_by)), include_blank: true, label: 'Created By' %>
  <%= f.select 'filter[updated_by]', options_for_select(@facets.fetch(Solr::QueryMaps::Item::Filter.updated_by.to_s, []), params.dig(:filter, :updated_by)), include_blank: true, label: 'Updated By' %>
  <%= f.select 'filter[collection]', options_for_select(@facets.fetch(Solr::QueryMaps::Item::Filter.collection.to_s, []), params.dig(:filter, :collection)), { label: 'Collection' }, { multiple: true, include_blank: true } %>
  <!-- TODO: use js to add/remove additional fielded search elements -->
  <%= f.select 'search[field][]', options_for_select(Solr::QueryMaps::Item::Search.field_map) %>
  <%= f.text_field 'search[value][]' %>
  <%= f.select 'search[field][]', options_for_select(Solr::QueryMaps::Item::Search.field_map) %>
  <%= f.text_field 'search[value][]' %>
  <!-- TODO: handling for term 'operator' - 'required', 'excluded', 'optional' -->
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to 'Start Over', items_path, class: 'btn btn-secondary' %>
<% end %>

<hr>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Alt. ID</th>
      <th></th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to item.descriptive_metadata.title.first, item_path(item.id) %></td>
    <td><%= item.unique_identifier %></td>
    <td><%= link_to 'Edit', edit_item_path(item.id), class: 'btn btn-primary' %></td>
  <% end %>
</table>
