
<div>
  <!-- Bootstrap Modal -->
  <div class="modal fade"  id=<%= @id %> data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
       aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmationModalLabel"><%= "#{@value}?" %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start"><%= @message %></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not now</button>
          <button type="submit" class="btn btn-primary <%= color_button %>" data-bs-dismiss="modal"><%= @value.split.first %></button>
        </div>
      </div>
    </div>
  </div>
  <% if @confirm %>
    <%= button_tag @value, type: 'button', **@options%>
    <% else %>
    <%= submit_tag @value, **@options%>
<% end %>
</div>