<%= render(SummaryInfo::Component.new) do |component| %>

  <% component.with_field('Unique Identifier') do %>
    <%= @item.unique_identifier %>
  <% end %>

  <% component.with_field('Published') do %>
    <% if @item.published %>
      <span>Yes</span>
      <a href="<%= PublishingService::Endpoint.colenda.public_item_url(@item.unique_identifier) %>"
         target="_blank"
         class="link-underline link-underline-opacity-0">
        (View in Colenda)
      </a>
    <% else %>
      No
    <% end %>
  <% end %>

  <% component.with_field('Created By') do %>
    <%= @item.created_by %>
  <% end %>

  <% component.with_field('Created At') do %>
    <%= @item.date_created&.to_fs(:display) %>
  <% end %>

  <% component.with_field('Updated By') do %>
    <%= @item.updated_by %>
  <% end %>

  <% component.with_field('Updated At') do %>
    <%= @item.date_updated&.to_fs(:display) %>
  <% end %>
<% end %>
