<%= render(Breadcrumbs::Component.new) do |component| %>
  <% component.with_breadcrumb(href: "/") do %>Home<% end %>
  <% component.with_breadcrumb(active: true) do %>Items<% end %>
<% end %>

<%= render(Header::Component.new) do |header| %>
  <% header.with_title { 'Items' } %>
  <% header.with_link(href: new_item_path) { 'Create Item' } if can? :create, ItemResource %>
<% end %>

<%= render partial: 'search_form', locals: { container: @container } %>

<hr>

<%= page_entries_info @container.paginator, entry_name: 'result' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Human Readable Name</th>
        <th>Title</th>
        <th>Collection(s)</th>
        <th>Unique Identifier</th>
        <th>Created By</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <% @container.documents.each do |item| %>
        <tr>
          <td><%= link_to item.human_readable_name, item_path(item.id) %></td>
          <td>
            <ul class="list-unstyled mb-0">
              <% item.descriptive_metadata.title.each.with_index do |t, i| %>
                <%= tag.li(t[:value], class: i.zero? ? '' : 'pt-2') %>
              <% end %>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled mb-0">
              <% item.descriptive_metadata.collection.each.with_index do |c, i| %>
                <%= tag.li(c[:value], class: i.zero? ? '' : 'pt-2') %>
              <% end %>
            </ul>
          </td>
          <td><%= item.unique_identifier %></td>
          <td><%= item.created_by %></td>
          <td><%= item.published ? 'Yes' : 'No' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @container.paginator %>
